[submodule "content/themes/casper"]
	path = content/themes/casper
	url = git://github.com/TryGhost/Casper.git
[submodule "content/themes/danhoran"]
	path = content/themes/danhoran
	url = ssh://git@github.com/danhoran/danhoran.git
